<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>18</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>C:\Users\Administrator\Desktop\WebServer\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(无)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2024-10-31T12:47:33.8572758Z;True|2024-10-21T16:19:05.6641307+08:00;True|2024-10-21T16:01:23.0357796+08:00;True|2024-10-21T15:39:13.5694825+08:00;True|2024-10-21T11:11:13.1290980+08:00;True|2024-10-21T11:10:17.9871740+08:00;True|2024-10-21T11:04:23.1114010+08:00;True|2024-10-17T15:39:19.9095102+08:00;True|2024-10-17T15:00:00.3753948+08:00;True|2024-10-17T14:30:55.6310631+08:00;True|2024-10-16T16:43:02.5273407+08:00;True|2024-10-16T16:42:58.4062207+08:00;True|2024-10-15T14:24:24.8536203+08:00;True|2024-10-14T17:22:13.7378152+08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>.NET 运行时 8.0.4 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>